*{
    margin: 0%;
    padding: auto;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;

}
body{
    background: black;
    color: black;
}
#prog
{
    color: aliceblue;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(img/background\ stil.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position:center ;

}
.container{
    padding: 10px 10% ;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
        display: inline-block ;
        list-style: none;
        margin: 10px 20px;
}
nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    position: relative;

}
nav ul li a::after
{
    content: '';
    width: 0;
    height: 3px;
    background: #e61010;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

}
.logo{
    
    width: 70px;
    border-radius: 50%;
}
.headertxt{
    margin-top: 20%;
    font-size: 30px;
}
.headertxt h1{
    color: aliceblue;
    font-size: 60px;
    margin-top: 20px;
}
.headertxt h1 span{
    color: #e61010;
}

/* -------------------about------------------------ */
#about
{
    padding: 80px;
    color: rgb(255, 255, 255);
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.about-c1{
    flex-basis: 35%;
    padding-top: 70px;
    
    
}
.about-c1 img{
    width: 100%;
    border-radius:15px;
    

}
.about-c2{
    flex-basis: 60%;
}
.subText{
    font-size: 60px; /*About me*/
    font-weight: 600;
    color: rgb(241, 7, 7);
}
.tab-titels{
    display: flex;
    margin: 20px 0 40px;
}
.tablinks{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tablinks::after{
    content: '';
    width: 0;
    height: 3px;
    background: #e61010;
    position: absolute;
    left: 0;
    bottom:  -8px;
    transition: 0.5s;
}
.tablinks.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none; /*list*/
    margin: 1px 0;
}
.tab-contents ul li span{
color: rgb(5, 221, 210);
font-size: 16px;

}
#experince{
    font-size: 15px;
}
.tab-contents{
display: none;
}
.tab-contents.active-tab{
display:block;

}
#tools{
    padding-top:1px;
    /* padding-left: ; */
}
/* ------------servises--------------- */
#survises{
    padding: 30px 0;
}
.survises-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.survises-list div{
    background: rgb(96, 96, 96);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s ;
}
.survises-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.survises-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.survises-list div a{
    text-decoration: none;
    color: rgb(253, 253, 253);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.survises-list div:hover{
    background: #dd2b2b;
    transform: translateY(-10px);
}


/* ------------------contact----------------- */
.btn.btn2{
    background-color: #21a01d; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 65%;
}
.contact-right form{
    width: 100%;

}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #464849;
    padding: 15px;
    margin: 15px  0;
    font-size: 18px;
    border-radius: 6px;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #df2d2d;
    margin-right: 15px;
}
.socalicon{
    margin-top: 35px;
}
.socalicon a{
    text-decoration: none;
    font-size: 50px;
    margin-right: 15px;
    color: #c41c1c;
    display: inline-block;
    transition: transform 0.5s;
}
.socalicon a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
#contactid{
    color: aliceblue;
}
/* .footer-nav li {
    display: inline;
    
} */
.tab-contents.active-tab{
    float: left;
    /* background: rgb(118, 118, 118); */
    font-size: 13px;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    height: 310px;
    /* border: 1px solid rgb(249, 249, 252); */
    
    
}
.footer-nav li span{
    float: left;
    padding-left: 2px;
    
}
 /* .footer-nav.languages li span{
    float: left;
    padding-left: 35px;
    
}  */
/* .div1 {
    width: 300px;
    height: 100px;
    border: 1px solid blue;
  }
   */
   /* --------------mobile------------- */
html{
    scroll-behavior: smooth;
}
   @media only screen and ( max-width:600px)
{
    #header{
       
        background-image: url(img/background\ stil\ phone.jpg);
        width: 100%;
        height: 100vh;
    
    }
}
/* new update */
* {box-sizing:border-box}

/* Container for skill bars */


.skills {
  text-align: right; /* Right-align text */
  padding-top: 5px; /* Add top padding */
  padding-bottom: 1px; /* Add bottom padding */
  color: rgb(0, 205, 202); /* White text color */
}


.java {width: 90%; background-color: rgba(61, 227, 24, 0.692);} /* Green */
.ccpp {width: 80%; background-color: #0fc72e;} /* Blue */
.htmlcss{width: 70%; background-color: #0fc72e;} /* Red */
.python {width: 60%; background-color: #0fc72e;} /* Dark Grey */
.php {width: 30%; background-color: #0fc72e;} /* Dark Grey */
/* --------------------column ------------------ */
.column {
    float: left;
    width: 60.33%;
}

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#educationdetails{
    padding: 19px;
    font-size: 17px;
}
.column span{
    color:rgb(5, 221, 210);;
}
/* --------------------------------- submit ---------------- */
#submitForm{
    text-decoration: none;
    color: white;
    
}
/* -------------progress bar -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.progressbody{
    height: 300px;
    display: flex;
    background: #000000;
    align-items: center;
    justify-content: center;
}
.containerprogress{
    position: relative;
    max-width: 500px;
    width: 100%;
    background: #95cbe0;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 7px;
}
.containerprogress .skill-box{
    width: 100%;
    margin: 25px 0;
}
.skill-box .title{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
.skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #0220ce;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}
.skill-per.css{
    width: 70%;
    animation-delay: 0.20s;
}
.skill-per.javascript{
    width: 50%;
    animation-delay: 0.10s;
}
.skill-per.nodejs{
    width: 30%;
    animation-delay: 0.5s;
}
@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #0220ce;
    z-index: 1;
}
.tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #0220ce;
    transform: translateX(-50%) rotate(45deg);

}
/* -------------------end of progress bar ------------------------- */
