/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    padding-left: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7d2ae8;
}
.container{
    display: flex;
    width: 150px;   
    padding: 10px 0;
    border-radius: 8px;
    background: #fff;
    row-gap: 3px;
    flex-direction: column;
    align-items: center;
}
.circular-progress{
    position: relative;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    background: conic-gradient(#7d2ae8 3.6deg, #e9e9e9 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular-progress::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
}
.progress-value{
    position: relative;
    font-size: 17px;
    font-weight: 600;
    color: #7d2ae8;
}
.text{
    font-size: 20px;
    font-weight: 500;
    color: #606060;
}